.button {
    -fx-background-color: #333333;
    -fx-background-radius: 10;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-border-radius: 10;
    -fx-border-width: 1px;
    -fx-border-color: #808080;
    -fx-background-color: #808080;
    -fx-background-radius: 10;
}

.button:focused {
    -fx-border-width: 1px;
    -fx-border-color: #577278;
    -fx-border-radius: 10;
}

.anchor-pane {
    -fx-background-color: #121212;
}

.vbox {
    -fx-border-width: 0 1 0 0;
    /*-fx-border-color: transparent #999999 transparent transparent;*/
    -fx-background-color: #333333;
}

.label {
    -fx-background-color: #4d4d4d;
}

.text-field {
    -fx-border-color: #4d4d4d;
    -fx-border-width: 3px;
    -fx-border-radius: 15;
    -fx-background-color: #121212;
    -fx-background-radius: 15;
    -fx-text-fill: #FFFFFF;
}

.text-area {
    -fx-border-color: #4d4d4d;
    -fx-border-width: 3px;
    -fx-border-radius: 10;
    -fx-background-color: #121212;
    -fx-background-radius: 15;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0;
}

.text-area .content {
    -fx-background-color: #121212;
    -fx-text-fill: #FFFFFF;
}

.text-area:focused {
    -fx-background-color: #121212;
    -fx-text-fill: #FFFFFF;
}

.text-area .scroll-bar:vertical {
    -fx-background-color: #333333;
}

.text-area .scroll-bar:vertical > .thumb {
    -fx-background-color: #08799e;
    -fx-background-radius: 3;
}

.text-area .scroll-bar:vertical > .thumb:hover{
    -fx-background-color: #16a9d9;
}

.text-area .scroll-bar:vertical > .thumb:selected {
    -fx-background-color: #16a9d9;
}


.scroll-pane {
    -fx-background-color: #121212;
}

.list-view {
    -fx-background-color: #262626;
    -fx-background-radius: 10 10 0 0;
    -fx-text-fill: #dad8d8 #e7e7e7;
}

.list-cell {
    -fx-padding: 5px;
    -fx-text-fill: #e7e7e7 #f1bfbf #FFFFFF;
    -fx-background-color: #262626;
}

.list-cell:selected {
    -fx-background-color: #08799e;
    -fx-background-radius: 10;
}

.list-view > .virtual-flow > .scroll-bar:vertical {
    -fx-background-color: #333333;
}

.list-view > .virtual-flow > .scroll-bar:vertical > .thumb {
    -fx-background-color: #08799e;
    -fx-background-radius: 3;
}

.list-view > .virtual-flow > .scroll-bar:vertical > .thumb:hover{
    -fx-background-color: #16a9d9;
}

.list-view > .virtual-flow > .scroll-bar:vertical > .thumb:selected {
    -fx-background-color: #16a9d9;
}

.table-view {
    -fx-border-radius: 15;
    -fx-border-width: 3px;
    -fx-border-color: #4d4d4d;
}

.table-view .column-header .label {
    -fx-text-fill: #FFFFFF;

}

.table-view,
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-radius: 25;
    -fx-background-color: #121212;
}

.table-view .column-header-background{
    -fx-background-color: #121212;
    -fx-background-radius: 0px 0px 0px 0px;
}

.table-view .table-cell{
    -fx-border-color: #393f47;
    -fx-border-width: 0 1 1 0;
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: #FFFFFF;
}

.table-row-cell {
    -fx-background-color: #121212;
    -fx-text-fill: #FFFFFF;
}

.table-view .empty-table {
    -fx-background-color: #121212;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.166667em; /* 14pt - 2 more than the default font */
}

.table-row-cell:selected {
    -fx-background-color: #333333;
}

.tab-pane {
    -fx-outer-border: #121212;
    -fx-text-box-border: transparent;
}

.tab-pane > .tab-content-area {
    -fx-background-color: #121212;
    -fx-background-radius: 10 10 0 0 ;
    -fx-border-color: #333333;
    -fx-border-width: 2px 0 0 0;
    -fx-border-radius: 0 0 0 0;
}

.tab-pane > .tab-content-area:selected {
    -fx-border-color: #6fe5f7;
    -fx-border-width: 2px 0 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab{
    -fx-background-color: #121212;
    -fx-border-width: 3px 3px 0 3px;
    -fx-border-color: #333333;
    -fx-border-radius: 0 0 0 0 ;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: #121212;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container {
    -fx-background-color: #121212;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-background-color: #121212;
    -fx-background-radius: 0 0 0 0;
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #121212;
    -fx-background-radius: 0 0 0 0 ;
    -fx-border-width: 3px 3px 0 3px;
    -fx-border-color: #6fe5f7;
    -fx-border-radius: 0 0 0 0 ;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-radius: 0 0 0 0 ;
    -fx-background-color: transparent;
}

#searchHistoryTable,
#editHistoryTable,
#eraseHistoryTable,
#addHistoryTable,
#deleteHistoryTable {
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 0 0 0 0;
}

.special-tab {

}